
  
 
  
  .myTimetable {
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .myTimetable THEAD{
    color: #000000;
    
    
  }
  .myTimetable THEAD TH{
    text-align: center;
    
    
  }
  
  .myTimetable TBODY {
    background-color: #FFFDD0;
  }
  
  .myTimetable TD {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
  }
  .myTimetable TBODY TR TD:first-child {
    background-color:#ADD8E6;
    font-weight: bold;
  }
  
  .break, .lunch {
    background-color: #FF0066 !important;
    font-style: italic;
  }
  
  .subject {
    font-size: 12pt;
    margin-bottom:4px;
  }
  
  .room {
    font-size: 10pt;
    font-style: italic;
  }